.idea
.ipynb_checkpoints
keywords
venv

#model formats
*.model
*.bin

#log formats
log/*.log
log/*.log.*

#parameters files
.env.celery
!.env.celery.example
.env.proxies
!.env.proxies.example
.env.openai
!.env.openai.example